@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .bg-tile {
  background-image: linear-gradient(
      to right,
      transparent,
      black,
      black,
      black,
      transparent
    ),
    url("/TribalScholarshipProgram/image/weave02.svg");
  background-repeat: repeat;
  background-position: top center;
} */
